html {
    font-family: 'Lora', serif;
}
body {
    background-color: black;
}
header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 3px 0;
    background: rgb(0, 0, 0);
    opacity: 0.5;
    z-index: 100;
}
header nav ul {
    display: flex;
    justify-content: center;
}
header nav ul li {
    margin: 0 20px;
    list-style: none;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}
.S1 {
    background-image: url('image/cover00.png');
    background-repeat: no-repeat;
    background-position-x: top;
    background-position-y: center;
    background-size: 102%;
}
.coverimage {
    padding-left: 20px;
}
.S2 {
    background-image: url('image/einleitung.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
.S3 {
    margin: 0 auto;
    width: 80%;
}
.videowrapper {
    height: 100%;
    width: 80%;
    padding-top: 150px;
    padding-left: 200px;
    margin: 0 auto;
}
.S4 img {
    max-height: 100%;
    padding-top: 40px;
    padding-left: 220px;
}
.S5 {
    margin: 0 auto;
    width: 80%;
}
.S6 img {
    max-height: 100%;
    padding-top: 40px;
    padding-left: 200px;
}